<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rada Popiołów - Mobile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Rada Popiołów</h1>

        <div id="gameSetup" class="floating-element mb-4 p-4">
            <h5 class="text-center">Zorganizuj Radę</h5>
            <hr>
            <div class="form-group">
                <label for="numPlayers">Liczba Miejsc w Radzie:</label>
                <input type="number" id="numPlayers" class="form-control" value="4" min="2" max="8">
            </div>

            <button id="createGameBtn" class="btn btn-primary btn-block btn-lg">Stwórz Grę</button>
        </div>

        <div class="floating-element text-center p-4">
            <h5>Dołącz do Rady</h5>
            <p class="text-muted">Aby dołączyć, użyj linku lub kodu QR udostępnionego przez Gospodarza.</p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="/static/main.js?v={{ range(1, 1000000) | random }}"></script>
</body>
</html>